# Ignore .env file
.env

# Ignore node_modules directory
node_modules

# Ignore other files or directories if needed
.config
public
.bash_history
.glitch-assets
.glitchdotcom.json
.tmp_ReporteMandados-14(4).csv
